# ignore direnv files
.envrc

# ignore downloaded upstream source archives
cloudberrydb-*.tar.gz
cloudberrydb_*.orig.tar.gz

# ignore Debian package build artifacts
cloudberrydb*.debian.tar.xz
cloudberrydb*.dsc
cloudberrydb*.build
cloudberrydb*.buildinfo
cloudberrydb*.changes
cloudberry-db-?-dbgsym_*.deb
cloudberry-db-?-dbgsym_*.ddeb
cloudberry-db-?_*.deb

# ignore upload files
cloudberrydb*.upload

# ignore unpacked source code
cloudberrydb/**
!cloudberrydb/debian/
!cloudberrydb/debian/**
